.list-menu {
    -fx-padding: 8;
    -fx-graphic-fixed-size: 2.5em;
    -fx-background-color: #2B2B2E;
}

.list-item {
    -fx-padding: 10;
    -fx-background-color: #2B2B2E;
}

.list-item * {
    -fx-fill: #fff;
}

.list-item:hover {
    -fx-background-color: #3C3C3F;
}

.list-item > .glyph-icon {
    -fx-fill: orange;
}

.label > .glyph-icon {
    -fx-fill: #3C3C3F;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}